* {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: yellow;
  font-family: sans-serif;
}

.wrapper {
  text-align: center;
  margin-top: 5rem;
}

.message {
  text-align: center;
  margin-top: 3rem;
  color: rgb(83, 83, 83);
}